page-login {
    .loginPage{
        background-color: blue;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .login-container {
        border-radius: 10px;
        opacity: 0.8;
        width: 80%;
        text-align: center;
        background-color: white;
     }
     .label{
         font-size:10px;
         color: red;
     }
     
 }