<ion-header>
    <ion-toolbar>
      <ion-title>Cadastrar</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Código</ion-label>
          <ion-input type="text" [(ngModel)]="codigo" ></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input type="text" [(ngModel)]="nome" ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Valor</ion-label>
          <ion-input type="number" [(ngModel)]="valor"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label>Selecione o tipo</ion-label>
          <ion-select placeholder="" [(ngModel)]="tipo">
            <ion-select-option value="Entrada">Entrada</ion-select-option>
            <ion-select-option value="Saida">Saída</ion-select-option>
          </ion-select>
        </ion-item>
  
        <ion-item>
          <ion-label position="floating">Descrição</ion-label>
          <ion-input type="text" [(ngModel)]="descricao"></ion-input>
        </ion-item>
       
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="full" color="primary" (click)="salvar()">Cadastrar</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  
  </ion-content>
  