<ion-header>
  <ion-toolbar>
    <ion-title>CONVERSOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
  <h1><strong>CONVERSÃO DE PESO</strong></h1>
  </ion-item>
  <ion-item>
  <div>
    <ion-label>Valor em Kg</ion-label>
    <ion-input type="text" [(ngModel)]="valorkg" placeholder="Digite o peso"></ion-input>
  </div>
  </ion-item>
  <div>
    <ion-button color="secondary" expand="block"
  (click)="converter()">Converter para grama</ion-button>
  </div>
  <h3>Total: {{total}}</h3>
  <div>
      <ion-button color="danger" expand="block" (click)="voltar()">VOLTAR</ion-button>
  </div>  
</ion-content>
