<ion-header>
  <ion-toolbar>
    <ion-title>CONVERSOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
  <h1><strong>TIPO DE CONVERSÃO:</strong></h1>
  </ion-item>
  <div>
      <ion-button color="primary" expand="block" (click)="abrirMoedas()">MOEDAS</ion-button>
  </div>
  <div>
    <ion-button color="primary" expand="block" (click)="abrirTemperatura()">TEMPERATURA</ion-button>
</div>
<div>
  <ion-button color="primary" expand="block" (click)="abrirPeso()">PESO</ion-button>
</div>
<div>
  <ion-button color="primary" expand="block" (click)="abrirDistancia()">DISTÂNCIA</ion-button>
</div>
</ion-content>
